@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

:root {
  --mywhite: #f9f9f9;
  --mywhitegray: #f7f7f7;
  --passivegray: #ededed;
  --hovergray: #e5e5e5;
  --chillgreen: #32a866;
  --activegreen: #298651;
  --hovershadow: -0.06ex 0 black, 0.06ex 0 black;
}

body {
  font-family: Montserrat, sans-serif;
}

main {
  display: flex;
  justify-content: center;
}
