* {
  box-sizing: border-box /* https://www.paulirish.com/2012/box-sizing-border-box-ftw */
}

html,
body,
main {
  margin: 0;
  padding: 0;
  height: 100%;
}

input,
button {
  margin: 0;
  padding: 0;
  box-shadow: none;
  outline: none;
  border: none;
}
